@import "../colors/mocha.css";

/* margin: top right bottom left */
/* Spacing outside the element */

/* padding: top right bottom left */
/* Spacing inside the element */

* {
  font-family: SF Pro, FontAwesome;
  font-size: 15px;
  font-weight: bold;
}

window#waybar {
  background-color: @crust;
  color: @text;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 0px;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  background: @crust;
}

tooltip label {
  color: @text;
}

#custom-launcher,
#clock,
#battery,
#cpu,
#temperature,
#backlight,
#network,
#pulseaudio,
#memory,
#custom-dunst,
#custom-powermenu,
#workspaces {
  margin: 10px 10px 10px 10px;
	border-radius: 15px;
  color: @lavender;
  background-color: @crust;
}

#workspaces {
  border-radius: 15px;
  transition: none;
  background: @base;
}

#workspaces button{
  padding: 15px 15px 15px 15px;
  color: @text;
  background: @base;
  border-radius: 15px;
}

#workspaces button:hover {
  background: @surface1;
  color: @text;
}

#workspaces button.active {
	border-radius: 15px;
  color: @crust;
  background: @teal;
}

/* ========= APP LAUNCHER ========= */

#custom-launcher {
  font-size: 18px;
  padding: 0px 23px 0px 20px;
  margin: 10px 5px 0px 20px;
}

/* ========= CLOCK ========= */

#clock.hours {
  font-size: 17px;
  padding: 15px 15px 0px 15px;
  margin: 0px 10px 0px 10px;
  color: @text;
  background-color: @base;
	border-radius: 15px 15px 0px 0px;
}

#clock.minutes {
  font-size: 17px;
  padding: 15px 15px 15px 15px;
  margin: 0px 10px 0px 10px;
  color: @text;
  background-color: @base;
	border-radius: 0px 0px 15px 15px;
}

/* ========= NOTIFICATIONS ========= */

#custom-dunst {
  font-size: 13px;
  background-color: @crust;
}

/* ========= VOLUME ========= */

#pulseaudio.icon {
  font-size: 20px;
  padding: 8px 15px 5px 15px;
  margin: 10px 10px 0px 10px;
  color: @crust;
  background-color: @sapphire;
	border-radius: 15px 15px 0px 0px;
}

#pulseaudio.sound {
  font-size: 14px;
  color: @text;
  padding: 11px 10px 8px 10px;
  margin: 0px 10px 10px 10px;
  background-color: @base;
	border-radius: 0px 0px 15px 15px;
}

/* ========= NETWORK ========= */

#network.icon {
  font-size: 19px;
  padding: 8px 18px 5px 12px;
  margin: 10px 10px 0px 10px;
  color: @crust;
  background-color: @yellow;
	border-radius: 15px 15px 0px 0px;
}

#network.strenght {
  font-size: 14px;
  color: @text;
  padding: 11px 10px 8px 10px;
  margin: 0px 10px 10px 10px;
  background-color: @base;
  border-radius: 0px 0px 15px 15px;
}

/* ========= BATTERY ========= */

#battery.icon {
  font-size: 19px;
  padding: 8px 15px 5px 15px;
  margin: 10px 10px 0px 10px;
  color: @crust;
  background-color: @red;
	border-radius: 15px 15px 0px 0px;
}

#battery.value {
  font-size: 14px;
  color: @text;
  padding: 11px 10px 8px 10px;
  margin: 0px 10px 10px 10px;
  background-color: @base;
  border-radius: 0px 0px 15px 15px;
}

#custom-powermenu {
  font-size: 19px;
  padding: 18px 20px 17px 20px;
  background-color: @base;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}
